<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fly/metalzondFly.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{397,449}</string>
                <key>spriteSourceSize</key>
                <string>{397,449}</string>
                <key>textureRect</key>
                <string>{{1,1},{397,449}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>24 26 27 24 25 26 0 24 27 10 24 0 10 22 23 11 22 10 20 18 19 20 21 11 15 16 17 15 17 18 12 13 14 12 14 15 11 12 15 20 11 15 20 15 18 11 21 22 0 9 10 7 5 6 7 8 5 1 5 8 5 2 4 5 1 2 1 8 9 4 2 3 0 1 9 10 23 24</string>
                <key>vertices</key>
                <string>349 142 384 345 397 389 397 449 326 449 297 435 283 449 269 449 262 395 271 310 140 303 101 315 134 367 122 449 110 448 83 429 67 449 54 449 40 439 0 439 0 389 17 313 25 245 56 135 91 73 143 5 158 0 255 0</string>
                <key>verticesUV</key>
                <string>350 143 385 346 398 390 398 450 327 450 298 436 284 450 270 450 263 396 272 311 141 304 102 316 135 368 123 450 111 449 84 430 68 450 55 450 41 440 1 440 1 390 18 314 26 246 57 136 92 74 144 6 159 1 256 1</string>
            </dict>
            <key>jetFire/jetFireLeft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,126}</string>
                <key>spriteSourceSize</key>
                <string>{126,126}</string>
                <key>textureRect</key>
                <string>{{131,738},{126,126}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 11 12 9 10 11 9 11 4 7 8 9 9 4 7 6 7 4 6 4 5 1 2 3 1 3 4 0 1 4 0 4 11</string>
                <key>vertices</key>
                <string>126 41 126 93 122 126 110 125 84 105 67 126 54 126 40 116 0 116 0 65 22 7 36 0 106 0</string>
                <key>verticesUV</key>
                <string>257 779 257 831 253 864 241 863 215 843 198 864 185 864 171 854 131 854 131 803 153 745 167 738 237 738</string>
            </dict>
            <key>jetFire/jetFireRight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,126}</string>
                <key>spriteSourceSize</key>
                <string>{126,126}</string>
                <key>textureRect</key>
                <string>{{1,790},{126,126}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 10 11 5 9 10 5 8 9 6 7 8 5 6 8 3 1 2 3 4 5 3 5 1 0 1 5 0 5 11</string>
                <key>vertices</key>
                <string>103 7 126 65 126 116 72 126 59 126 45 111 15 125 4 126 0 93 0 28 28 0 93 0</string>
                <key>verticesUV</key>
                <string>104 797 127 855 127 906 73 916 60 916 46 901 16 915 5 916 1 883 1 818 29 790 94 790</string>
            </dict>
            <key>still/metalzond.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{369,361}</string>
                <key>spriteSourceSize</key>
                <string>{369,361}</string>
                <key>textureRect</key>
                <string>{{11,427},{369,361}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>14 16 17 14 15 16 0 14 17 6 14 0 6 12 13 7 11 12 7 8 9 7 9 10 7 10 11 6 7 12 0 5 6 3 4 5 5 1 2 5 2 3 0 1 5 6 13 14</string>
                <key>vertices</key>
                <string>329 133 347 204 369 343 369 361 249 361 268 311 126 303 86 313 114 359 105 361 0 361 0 343 11 245 42 135 77 73 129 5 144 0 241 0</string>
                <key>verticesUV</key>
                <string>340 560 358 631 380 770 380 788 260 788 279 738 137 730 97 740 125 786 116 788 11 788 11 770 22 672 53 562 88 500 140 432 155 427 252 427</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player.png</string>
            <key>size</key>
            <string>{399,917}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f215283cf48cfebc1d2a11f22064b9e9:56c00e692350b63f8c7c306aab03578e:edc07151e736b0732633ae99adf9ba18$</string>
            <key>textureFileName</key>
            <string>player.png</string>
        </dict>
    </dict>
</plist>
